@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  font-family: "Quicksand", sans-serif;
}

:root {
  --bgColor: rgba(11, 16, 24, 0.8);
  --mainColor: #3966af;
  --textColor: #e0e0e0;
}

.app {
  background-color: var(--bgColor);
  height: 100vh;
}
